{% extends 'users/profile.html' %}
<!doctype html>
{%load static%}
{% load crispy_forms_tags %}
{% block data %}

{% if schedule %}
<table class="appointements">
    <h1 style="text-align: center;">Appointements</h1>
    <thead>
    <tr >
    {% for i in schedule %}
    <th style="color: black">{{ i.name }}</th>
    <th><form method="post" action="{% url 'deleate_schedule' i.pk %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-sm" >Delete</button >
    </form>
    </th>
    <th><form method="post" action="{% url 'schedule_update' i.pk %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-warning btn-sm" >Update</button ></th>
    </tr>
    </thead>
    {% endfor %}

    </table>

    {%endif%}


{%if perms.users.sgt_dean_chek_view%}
        <table class="table table-striped">
          <h1 style="text-align: center;">Your section current numbers</h1>
          <thead>
           <tr>
            <th></th>
            {%for i in valid_users%}
            <th>{{i}}</th>
            {%endfor%}
            </tr>
            </thead>
            <tbody>
            {%for k,v in total_n.items%}
            <tr>
            <td id="category">{{k}}</td>
            {%for i in v%}
            <td data-label={{i.0}}><span>{{i.1}}</span></td>
            {%endfor%}
            </tr>
            {%endfor%}
            </tbody>
          </table>

          <table class="table table-striped">
          <h1 style="text-align: center;">Your soldiers height/weight</h1>
          <thead>
           <tr>
            <th></th>
            {%for i in users_with_profile%}
            <th>{{i}}</th>
            {%endfor%}
            </tr>
            </thead>
            <tbody>
            {%for k,v in height_weight.items%}
            <tr>
            <td id="category_h_w">{{k}}</td>
            {%for i in v%}
            <td data-label={{i.0}}><span>{{i.1}}</span></td>
            {%endfor%}
            </tr>
            {%endfor%}
            {%for i in final_score%}
            <tr>
            <td id="category_h_w">ACFT score</td>
            <td data-label={{i.0}}><span>{{i.1}}</span></td>
            </tr>
            {%endfor%}
            </tbody>
          </table>


      {%endif%}
      {%if user.last_name != Dean%}
      <table class="table table-striped">
          <h1 style="text-align: center;">Your current numbers</h1>
          <thead>
           <tr>
            <th></th>
            <th>numbers</th>
            </tr>
            </thead>
            <tbody>
            {%for i in categories%}
            <tr>
            <td id="category_individual_numbers">{{i.0}}</td>
            <td><span>{{i.1}}</span></td>
            </tr>
            {%endfor%}
            </tbody>
          </table>

      {%endif%}

      {% endblock %}